<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gamevibe.mapper.GameMapper">

    <select id="pageByIds" resultType="com.example.gamevibe.model.vo.GameRankVO">
        SELECT id,`name`, JSON_UNQUOTE(JSON_EXTRACT(images, '$[0]')) AS image, type, score
        FROM game
        WHERE id IN
        <foreach collection="gameIdList" separator="," open="(" item="item" close=")">
            #{item}
        </foreach>
    </select>

    <select id="listGameName" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT `name` FROM game ORDER BY RAND() LIMIT #{count};
    </select>

</mapper>