<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gamevibe.mapper.UserMapper">


    <resultMap id="UserVO" type="com.example.gamevibe.model.vo.UserVO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="user_id" column="user_id" jdbcType="BIGINT"/>
        <result property="nick_name" column="nick_name" jdbcType="VARCHAR"/>
        <result property="intro" column="intro" jdbcType="VARCHAR"/>
        <result property="ip_addr" column="ip_addr" jdbcType="VARCHAR"/>
        <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="focus_count" column="focus_count" jdbcType="INTEGER" />
        <result property="fans_count" column="fans_count" jdbcType="INTEGER" />
        <result property="like_collect_count" column="like_collect_count" jdbcType="BIGINT" />
    </resultMap>

</mapper>
